<header>
  <dir class="container">
    <section class="header">
      <a href="{{ .Site.BaseURL }}"><h2>Satwik Kambham</h2></a>

      <div class="row">
          <div class="four columns"><a href="https://linkedin.com/in/satwik-kambham/">Linkedin</a></div>
          <div class="four columns"><a href="https://code-explorer.github.io/">Portfolio</a></div>
          <div class="four columns"><a href="https://github.com/code-explorer">GitHub</a></div>
      </div> 
    </section>
  </dir>
</header>
